In [109]:
import pandas as pd
import numpy as np

In [110]:
houses = pd.read_csv('/workspaces/House_Sale/houses.csv')

In [111]:
houses.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [112]:
houses.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [113]:
Total_Nans = houses.isnull().sum().sum()
Total_Nans

np.int64(7829)

In [114]:
nan_count = houses.isnull().sum()
nan_count

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

# Dropping Columns that have NaNs of equal or above 60%

In [115]:

threshold = len(houses) * 0.6
houses_cleaned_df = houses.dropna(thresh=threshold, axis=1)
houses_cleaned_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,Inside,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [116]:
houses_clean= pd.DataFrame(houses_cleaned_df)
houses_clean.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrArea', 'ExterQual',
       'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical',
       '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath',
       'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [117]:
houses_clean.isnull().sum().sum()

np.int64(860)

# Remaining NaNs

In [118]:
remaining_columns_nan = houses_clean.isnull().sum()
remaining_columns_nan = remaining_columns_nan[remaining_columns_nan > 0]
remaining_columns_nan

LotFrontage     259
MasVnrArea        8
BsmtQual         37
BsmtCond         37
BsmtExposure     38
BsmtFinType1     37
BsmtFinType2     38
Electrical        1
GarageType       81
GarageYrBlt      81
GarageFinish     81
GarageQual       81
GarageCond       81
dtype: int64

In [119]:
houses_clean['LotFrontage'].isnull().sum()

np.int64(259)

# Applying the Imputation Technique

**LotConfig**

In [120]:
mean_values = houses_clean.groupby(['LotConfig', 'LotShape'])['LotFrontage'].transform('mean')
houses_clean['LotFrontage'] = houses_clean['LotFrontage'].fillna(mean_values)
houses_clean['LotFrontage'].isnull().sum()

np.int64(1)

**Using Overall Mean to impute on the remaining NaN**

In [121]:
houses_clean['LotFrontage'] = houses_clean['LotFrontage'].fillna(mean_values)

In [122]:
houses_clean['LotFrontage'].isnull().sum()

np.int64(1)

**MasVnrArea**

**The total size (in square feet) of decorative brick or stone on the outside of a house**

**Grouping by:**
- Exterior1st- The primary exterior material
- Exterior2nd- The secondary exterior material
- Neighborhood

In [123]:
MasVnrArea_mean_grouped = houses_clean.groupby(['Exterior1st', 'Exterior2nd'])['MasVnrArea'].transform('mean')
houses_clean['MasVnrArea'] = houses_clean['MasVnrArea'].fillna(MasVnrArea_mean_grouped)
houses_clean['MasVnrArea'].isnull().sum()

np.int64(1)

In [191]:
houses_clean['MasVnrArea'] = houses_clean['MasVnrArea'].fillna(houses_clean['MasVnrArea'].mean())
houses_clean['MasVnrArea'].isnull().sum()

np.int64(0)

**BsmtQual**

In [124]:
bsmt_columns = houses_clean.loc[:, houses_clean.columns.str.contains('Bsmt')].isnull().sum()
bsmt_columns#.columns

BsmtQual        37
BsmtCond        37
BsmtExposure    38
BsmtFinType1    37
BsmtFinSF1       0
BsmtFinType2    38
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
BsmtFullBath     0
BsmtHalfBath     0
dtype: int64

In [125]:
houses_clean['BsmtQual'].unique()

array(['Gd', 'TA', 'Ex', nan, 'Fa'], dtype=object)

In [126]:
houses_clean[houses_clean['BsmtFullBath']>2]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
738,739,90,RL,60.0,10800,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,3,2009,WD,Alloca,179000

In [127]:
houses_clean[houses_clean['BsmtHalfBath']==2]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
597,598,120,RL,53.0,3922,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2007,New,Partial,194201
954,955,90,RL,35.0,9400,Pave,IR1,Lvl,AllPub,CulDSac,...,0,0,0,0,0,10,2006,WD,AdjLand,127500

In [128]:
BsmtQual_mode = houses_clean.groupby(['BsmtFullBath', 'BsmtHalfBath', 'HouseStyle'])['BsmtQual'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
houses_clean['BsmtQual'] = houses_clean['BsmtQual'].fillna(BsmtQual_mode)
houses_clean['BsmtQual'].isnull().sum()

np.int64(0)

**BsmtCond**

In [129]:
houses_clean['BsmtCond'].unique()

array(['TA', 'Gd', nan, 'Fa', 'Po'], dtype=object)

In [130]:
BsmtCond_mode = houses_clean.groupby(['BsmtFullBath', 'BsmtHalfBath', 'HouseStyle'])['BsmtCond'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
houses_clean['BsmtCond'] = houses_clean['BsmtCond'].fillna(BsmtCond_mode)
houses_clean['BsmtCond'].isnull().sum()

np.int64(0)

**BsmtExposure**

In [131]:
houses_clean['BsmtExposure'].unique()

array(['No', 'Gd', 'Mn', 'Av', nan], dtype=object)

In [132]:
BsmtExposure_mode = houses_clean.groupby(['BsmtFullBath', 'BsmtHalfBath', 'HouseStyle'])['BsmtExposure'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
houses_clean['BsmtExposure'] = houses_clean['BsmtExposure'].fillna(BsmtExposure_mode)
houses_clean['BsmtExposure'].isnull().sum()

np.int64(0)

**BsmtFinType1**

In [134]:
houses_clean['BsmtFinType1'].unique()

array(['GLQ', 'ALQ', 'Unf', 'Rec', 'BLQ', nan, 'LwQ'], dtype=object)

In [135]:
BsmtFinType1_mode = houses_clean.groupby(['BsmtFullBath', 'BsmtHalfBath', 'HouseStyle'])['BsmtFinType1'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
houses_clean['BsmtFinType1'] = houses_clean['BsmtFinType1'].fillna(BsmtFinType1_mode)
houses_clean['BsmtFinType1'].isnull().sum()

np.int64(0)

**BsmtFinType2**

In [136]:
houses_clean['BsmtFinType2'].unique()

array(['Unf', 'BLQ', nan, 'ALQ', 'Rec', 'LwQ', 'GLQ'], dtype=object)

In [137]:

BsmtFinType2_mode = houses_clean.groupby(['BsmtFullBath', 'BsmtHalfBath', 'HouseStyle'])['BsmtFinType2'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
houses_clean['BsmtFinType2'] = houses_clean['BsmtFinType2'].fillna(BsmtFinType2_mode)
houses_clean['BsmtFinType2'].isnull().sum()

np.int64(0)

**Electrical**

In [ ]:
houses_clean['Electrical'].unique()

array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', 'Mix', nan], dtype=object)

In [143]:
houses_clean.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrArea', 'ExterQual',
       'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical',
       '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath',
       'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [150]:
houses_clean['HeatingQC'].unique()

array(['Ex', 'Gd', 'TA', 'Fa', 'Po'], dtype=object)

In [ ]:
Electrical_mode = houses_clean.groupby(['BsmtFullBath', 'BsmtHalfBath', 'HeatingQC'])['Electrical'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
houses_clean['Electrical'] = houses_clean['Electrical'].fillna(Electrical_mode)
houses_clean['Electrical'].isnull().sum()

np.int64(0)

**GarageType**

In [153]:
houses_clean['GarageType'].unique()

array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', nan, 'Basment', '2Types'],
      dtype=object)

In [155]:
garage_columns = houses_clean.loc[:, houses_clean.columns.str.contains('Garage')].isnull().sum()
garage_columns

GarageType      81
GarageYrBlt     81
GarageFinish    81
GarageCars       0
GarageArea       0
GarageQual      81
GarageCond      81
dtype: int64

In [159]:
GarageType_mode = houses_clean.groupby(['YearBuilt', 'HouseStyle'])['GarageType'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
houses_clean['GarageType'] = houses_clean['GarageType'].fillna(GarageType_mode)
houses_clean['GarageType'].isnull().sum()

np.int64(10)

In [162]:
houses_clean['GarageType'] = houses_clean['GarageType'].fillna(houses_clean['GarageType'].mode().iloc[0])
houses_clean['GarageType'].isnull().sum()

np.int64(0)

**GarageYrBlt**

In [ ]:
houses_clean['GarageYrBlt'].unique()

array([2003., 1976., 2001., 1998., 2000., 1993., 2004., 1973., 1931.,
       1939., 1965., 2005., 1962., 2006., 1960., 1991., 1970., 1967.,
       1958., 1930., 2002., 1968., 2007., 2008., 1957., 1920., 1966.,
       1959., 1995., 1954., 1953.,   nan, 1983., 1977., 1997., 1985.,
       1963., 1981., 1964., 1999., 1935., 1990., 1945., 1987., 1989.,
       1915., 1956., 1948., 1974., 2009., 1950., 1961., 1921., 1900.,
       1979., 1951., 1969., 1936., 1975., 1971., 1923., 1984., 1926.,
       1955., 1986., 1988., 1916., 1932., 1972., 1918., 1980., 1924.,
       1996., 1940., 1949., 1994., 1910., 1978., 1982., 1992., 1925.,
       1941., 2010., 1927., 1947., 1937., 1942., 1938., 1952., 1928.,
       1922., 1934., 1906., 1914., 1946., 1908., 1929., 1933.])

In [174]:
houses_clean['GarageYrBlt'] = houses_clean['GarageYrBlt'].fillna(houses_clean['YearBuilt'].mode().iloc[0])
houses_clean['GarageYrBlt'].isnull().sum()

np.int64(0)

**GarageFinish**

In [165]:
houses_clean['GarageFinish'].unique()

array(['RFn', 'Unf', 'Fin', nan], dtype=object)

In [168]:
houses_clean['GarageFinish'] = houses_clean.groupby(['GarageArea', 'GarageType'])['GarageFinish'].transform(
    lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x)
)

/tmp/ipykernel_3246/2572858638.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x)

**GarageQual**

In [170]:
houses_clean['GarageQual'].unique()

array(['TA', 'Fa', 'Gd', nan, 'Ex', 'Po'], dtype=object)

In [173]:
GarageQual_mode = houses_clean.groupby(['Neighborhood', 'HouseStyle'])['GarageQual'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
houses_clean['GarageQual'] = houses_clean['GarageQual'].fillna(GarageQual_mode)
houses_clean['GarageQual'].isnull().sum()

np.int64(2)

In [175]:
houses_clean['GarageQual'] = houses_clean['GarageQual'].fillna(houses_clean['GarageQual'].mode().iloc[0])
houses_clean['GarageQual'].isnull().sum()

np.int64(0)

**GarageCond**

In [176]:
houses_clean['GarageCond'].unique()

array(['TA', 'Fa', nan, 'Gd', 'Po', 'Ex'], dtype=object)

In [177]:
GarageCond_mode = houses_clean.groupby(['Neighborhood', 'HouseStyle'])['GarageCond'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
houses_clean['GarageCond'] = houses_clean['GarageCond'].fillna(GarageCond_mode)
houses_clean['GarageCond'].isnull().sum()

np.int64(2)

In [178]:
houses_clean['GarageCond'] = houses_clean['GarageCond'].fillna(houses_clean['GarageCond'].mode().iloc[0])
houses_clean['GarageCond'].isnull().sum()

np.int64(0)

In [183]:
remain_columns_nan = houses_clean.isnull().sum()
remain_columns_nan = remain_columns_nan[remain_columns_nan > 0]
remain_columns_nan

LotFrontage      1
MasVnrArea       1
GarageFinish    81
dtype: int64

**GarageFinish**

In [185]:
houses_clean['GarageFinish'].unique()

array(['RFn', 'Unf', 'Fin', nan], dtype=object)

In [184]:
GarageFinish_mode = houses_clean.groupby(['Neighborhood', 'HouseStyle'])['GarageFinish'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
houses_clean['GarageFinish'] = houses_clean['GarageFinish'].fillna(GarageFinish_mode)
houses_clean['GarageFinish'].isnull().sum()

np.int64(2)

In [ ]:
houses_clean['GarageFinish'] = houses_clean['GarageFinish'].fillna(houses_clean['GarageFinish'].mode().iloc[0])
houses_clean['GarageFinish'].isnull().sum()

np.int64(0)

**LotFrontage**

In [188]:
houses_clean['LotFrontage'].unique()

array([ 65.        ,  80.        ,  68.        ,  60.        ,
        84.        ,  85.        ,  75.        ,  97.44827586,
        51.        ,  50.        ,  70.        ,  98.83333333,
        91.        ,  58.94285714,  72.        ,  66.        ,
       101.        ,  57.        ,  44.        ,  73.23963134,
       110.        ,  98.        ,  47.        , 108.        ,
       112.        ,  74.        , 115.        ,  61.        ,
        48.        ,  33.        ,  96.        ,  52.        ,
       100.        ,  24.        ,  89.        ,  63.        ,
        65.36934307,  76.        ,  81.        ,  95.        ,
        69.        ,  21.        ,  32.        ,  78.        ,
       121.        , 122.        ,  40.        , 105.        ,
        73.        ,  77.        ,  64.        ,  94.        ,
        75.92086331,  34.        ,  90.        ,  55.        ,
        88.        ,  82.        ,  71.        , 120.        ,
       107.        ,  92.        , 134.        ,  62.        ,
        86.        , 141.        ,  97.        ,  54.        ,
        41.        ,  79.        , 174.        ,  99.        ,
        67.        ,  83.        ,  43.        ,  75.66666667,
       103.        ,  93.        ,  51.66666667,  30.        ,
       129.        , 140.        ,  35.        ,  37.        ,
       118.        ,  87.        , 116.        , 150.        ,
       111.        ,  49.        ,  59.        ,  36.        ,
        56.        , 102.        ,  58.        ,  38.        ,
       109.        , 130.        ,  53.        , 137.        ,
        62.33333333,  45.        ,          nan, 106.        ,
        48.66666667, 104.        ,  42.        ,  39.        ,
       144.        , 114.        , 128.        , 149.        ,
       313.        ,  76.5       , 168.        , 182.        ,
       138.        , 160.        , 152.        , 124.        ,
       153.        ,  46.        ])

In [190]:
houses_clean['LotFrontage'] = houses_clean['LotFrontage'].fillna(houses_clean['LotFrontage'].mean())
houses_clean['LotFrontage'].isnull().sum()

np.int64(0)

In [192]:
remain_columns_nan = houses_clean.isnull().sum()
remain_columns_nan = remain_columns_nan[remain_columns_nan > 0]
remain_columns_nan

Series([], dtype: int64)

In [194]:
houses_clean.to_csv('Houses_Cleaned_data.csv')